<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fixed Point Iteration</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="row">
        <div id="input-section">
            <p class="labels">Input Parameters<p>
            <div class="input-container">
                <label for="Function">Function:</label>
                <input type="text" id="Function" name="Function" value="x^3 - 3*x">
            </div>
            <div class="input-container">
                <label for="x0">Initial Value:</label>
                <input type="number" id="x0" name="x0" value="">
            </div>
            <div class="input-container">
                <label for="max_iter">Iteration Count:</label>
                <input type="number" id="max_iter" name="max_iter" max="100" min="1" value="100">
            </div>
            <div class="input-container">
                <label for="tolerance">Tolerance:</label>
                <input type="text" id="tolerance" name="tolerance" value="1e-6">
            </div>

            <button onclick="fetchData()">Calculate</button>
        </div>

        <div id="output-section">
            <p class ="labels">Results<p>
            <!-- Display the results here -->
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>

</html>
